.app-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.password-logo-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.image-logo {
  width: 150px;
  height: 60px;
}

.form-image-container {
  background-color: #5763a5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
}
@media (min-width: 768px) {
  .form-image-container {
    flex-direction: row;
  }
}

.image-container {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .image-container {
    justify-content: flex-end;
    order: 1;
  }
}

.password-manager-image-sm {
  width: 320px;
  height: 280px;
}
@media (min-width: 768px) {
  .password-manager-image-sm {
    display: none;
  }
}
.password-manager-image-lg {
  width: 440px;
  height: 360px;
}
@media (max-width: 767px) {
  .password-manager-image-lg {
    display: none;
  }
}

.form-container {
  background-color: #454f84;
  padding: 30px;
  margin: 10px;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
}

.add-password-heading {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  font-family: 'roboto';
}
.form {
}
.input-div {
  display: flex;
  margin-bottom: 30px;
  background-color: #f8fafc;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.website-icon {
  width: 28px;
  height: 20px;
  margin: 10px;
}

.input-element {
  width: 100%;
  height: 46px;
  padding: 12px;
  background-color: #f8fafc;
  outline: none;
  border: 1px solid #c3caea;
  font-size: 16px;
  font-weight: 500;
  font-family: 'roboto';
}
.button-container {
  text-align: end;
}
.add-button {
  color: #fff;
  background-color: #0b69ff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border: none;

  width: 100px;
}
/*bottom container*/

.bottom-lists-container {
  background-color: #5763a5;
  padding: 40px;
  background-size: cover;
  border-radius: 10px;
}
.search-passwords-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.passwords {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'roboto';
  margin-top: 0px;
  padding-top: 0px;
}
.bottom-search {
  display: flex;
  margin-bottom: 30px;
  background-color: #f8fafc;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.search-icon {
  width: 28px;
  height: 20px;
  margin: 10px;
}
.input-search {
  width: 100%;
  height: 30px;
  padding: 19px;
  background-color: #f8fafc;
  outline: none;
  border: 1px solid #c3caea;
}
.count {
  color: #fff;
  border: 1px solid #b6c3ca;
  margin-left: 10px;
  margin-right: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 16px;
}
.check-box-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.check-box {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.label-element {
  color: #fff;
  font-size: 16px;
  font-family: 'roboto';
  font-weight: 500;
}
.hr-line {
  border: 2px solid #9ba9eb;
}
.order-user-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-left: 0px;
  align-items: center;
  justify-content: center;
}
.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 18px;
  margin-right: 8px;
  flex-shrink: 0;
}
.image-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.no-password-image {
  width: 320px;
  height: 280px;
}
@media (min-width: 768px) {
  .no-password-image {
    width: 480px;
    height: 400px;
  }
}
.no-passwords {
  color: #fff;
  font-size: 32px;
  font-family: 'roboto';
  font-weight: 600;
}
.items-count {
  display: flex;
  align-items: center;
}
